[user]
    email = [EMAIL]
    name = Damon Montague
    signingKey = [KEY]
[commit]
    gpgSign = true
[push]
    autoSetupRemote = true
[core]
    autocrlf = input
    editor = "zed --wait"
	pager = delta
[pull]
	rebase = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
 	side-by-side = true
[merge]
	conflictStyle = zdiff3
