[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Kill xfce panel
Comment=Kills all instances of XFCE-panel
Exec=sh -c 'killall -9 xfce-panel'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

